.logo {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
}

.letter {
    color: var(--color__secondary-theme);
}

.link {
    text-decoration: none;
    color: black;
}

.h1 {
    font-weight: 400;
}


@media screen and (max-width:400px) {
    .h1 {
        font-size: 24px;
    }
}