.comment {
    display: grid;
    background-color: var(--color__main-theme);
    border: 1px var(--color__main-theme_accent) solid;
    border-radius: 5px;
    padding: 15px;
    width: 80vw;
}

.comment_header {
    display: flex;
    gap: 15px;
    padding: 5px;
    align-items: center;
}

.comment_body {
    display: flex;

    width: max-content;
    max-width: 75vw;
}

.container_nickname {
    font-size: 26px;
}

.container_time_ago {
    opacity: 0.5;
}

.update {
    opacity: 0.8;
    font-size: 12px;
}