.comment {
    display: grid;
    background-color: var(--color__main-theme);
    border: 1px var(--color__main-theme_accent) solid;
    border-radius: 5px;
    row-gap: 15px;
    justify-items: center;
    padding: 5px;
    width: 100%;
    max-width: 1000px;
}

.comment_header {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    gap: 15px;
    padding: 5px;
    align-items: center;
}

.info {
    display: flex;
    column-gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.comment_body {
    display: flex;
    width: inherit;
}

.container_nickname {
    font-size: 26px;
}

.container_time_ago {
    opacity: 0.5;
}

.update {
    opacity: 0.8;
    font-size: 12px;
}