.page_profile {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-items: center;
    justify-content: center;
}

.left {
    display: grid;
}

.right {
    display: flex;
    width: max-content;
}

@media screen and (min-width: 900px) {
    .page_profile {
       
    }
}