.title {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.container {
    display: grid;
    flex-wrap: wrap;
    width: min-content;
    gap: 10px;
}