.title {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-left: 42px;
    padding-right: 42px;
    flex-wrap: wrap;
}

.container {
    display: grid;
    gap: 10px;
}