.wrapper_avatar_in_profile {
    display: grid;
    width: 22vw;
    height: 22vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

.edit {
    display: grid;
    position: relative;
    width: 50px;
    height: 25px;
    bottom: 60px;
    left: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px var(--color__main-theme_accent) solid;
    background-color: var(--color__main-theme);
    color: black;
}

@media screen and (max-width:700px) {
    .wrapper_avatar_in_profile {
        min-width: 200px;
        min-height: 200px;
    }
}

@media screen and (max-width:400px) {
    .wrapper_avatar_in_profile {
        min-width: 150px;
        min-height: 150px;
    }
}