.container {
    display: grid;
    padding: 10px;
    justify-content: center;
}

.button {
    appearance: none;
    background-color: #ffffff !important;
    border: 1px rgb(201, 201, 201) solid;
    padding: 6px;
}

.img {
    width: 100%;
    max-width: 900px;
}