:root {
    --panel_opacity: 0;
    --active_element_background: rgba(238, 5, 5, 0.3);
}

.element {
    display: flex;
    gap: 5px;
    padding-right: 32px;
}

.element:hover {
    --panel_opacity: 1;
}



.wrapper {
    width: 100%;
    border-radius: 3px;
}

.wrapper_panel:hover+.wrapper {
    background-color: var(--active_element_background);
}

.hidden {
    opacity: 0 !important;
    visibility: hidden;
}