.form_profile_hide {
    display: grid;
}

.cancel {
    position: relative;
    bottom: 48px;
    left: 64px;
}

.add_btn {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add_btn:hover {
    background-color: #007bff;
    color: white;
}

.add_btn:active {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: scale(0.95);
    transition: background-color 0.1s ease;
}