.container {
    display: grid;
    width: 90%;
    max-width: 1000px;
    gap: 5px;
}

.link {
    display: grid;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .container {
        width: 70vw;
    }
}