.container {
    display: grid;
    width: max(30vw, 200px);
    height: max(13vw, 130px);
    background-color: var(--color__main-theme);
    border: 2px var(--color__main-theme_accent) solid;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    font-size: min(2vw, 24px);
    font-family: var(--font_family);
    align-content: space-between;
}

.info {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: grid;
    gap: 5px;
}