.dropdown {
    display: grid;
}

.content {
    display: none;
}

.open {
    display: grid;
    position: absolute;
    width: min-content;
    margin-right: auto;
    text-align: center;
    animation-duration: 150ms;
    animation-name: open;
}

.close {
    display: none;
}

.margin {
    margin-top: 10px;
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(-10vh);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}