.inner {
    display: grid;
    width: 100%;
    padding: 10px;
    background-color: var(--color__main-theme);
    border: 1px solid var(--color__border);
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.inner:hover {
    background-color: var(--color__hover-bg);
    transform: translateY(-2px);
}

.inner p,
.inner h2,
.inner ul {
    color: var(--color__text);
    margin: 0;
}