.form_user {
    display: grid;
}

.form_group {
    display: grid;
    width: min-content;
    margin-top: 5px;
    row-gap: 5px;
}

.input {
    outline: 0px rgba(0, 123, 255, 0.6) solid;
    appearance: none;
    transition:
        outline 0.06s,
        box-shadow .15s ease-in-out;
    height: 40px;
    width: 30vw;
    border: rgb(224, 224, 224) 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.input:focus {
    outline: 4px rgba(0, 123, 255, 0.3) solid;
}

.button {
    width: max-content;
    appearance: none;
    background-color: rgb(0, 123, 255);
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin-top: 8px;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}