.container {
    display: grid;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
}

.link {
    display: grid;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
}