.container {
    display: grid;
    width: 100%;
    height: 250px;
}

.link {
    display: grid;
    grid-template-areas:
        'once';
    width: inherit;
    height: inherit;
    align-items: end;
    transition: object-position 250ms ease-in-out;
    border: 2px var(--color__main-theme_accent) solid;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
}

.image {
    display: grid;
    grid-area: once;
    width: inherit;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    object-fit: cover;
    object-position: top;
    transition: object-position 250ms ease-in-out;
}

.intro {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 10px;
    text-align: left;
    padding: 5px;
}

.post_name {
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    height: 20%;
    min-height: inherit;
    max-height: inherit;
    pointer-events: none;
    grid-area: once;
    font-size: 36px;
    color: white;
    bottom: 2vh;
    align-items: start;
    text-align: right;
    transition:
        opacity 250ms ease-in-out,
        visibility 250ms,
        height 250ms ease-in-out,
        background-color 250ms ease-in-out;
}

.default_name {
    display: grid;
    padding-left: 5px;
    font-size: min(4vh, 64px);
    color: black;
}

.delete {
    display: grid;
    position: absolute;
    grid-area: once;
    justify-self: start;
    align-self: flex-start;
    margin: 10px;
    cursor: pointer;
}

.image:hover {
    object-position: center;
}

.image:hover+.post_name {
    opacity: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    object-position: center;
}