.container {
    display: flex;
    width: 80vw;
    padding: 5px;
    gap: 15px;
}
.container_edit {
    display: grid;
    width: 80vw;
    gap: 15px;
}
.area_text {
    display: grid;
    width: inherit;
    font-family: var(--font_family);
    font-size: 16px;
    color-scheme: light dark;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    border: 1px var(--color__main-theme_accent) solid;
    outline: none;
    resize: none;
    padding: 5px;

    max-width: 75vw;
    word-break: break-all;
    overflow: hidden;
}

.span {
    width: 100%;
    word-break: break-all;
}

.buttons {
    display: flex;
    gap: 15px;
}

.button {
    display: grid;
    width: 100px;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    border: 2px solid #007bff;
    /* Цвет бордюра */
    color: #007bff;
    /* Цвет текста */
    padding: 10px 20px;
    /* Отступы кнопки */
    font-size: 16px;
    /* Размер шрифта */
    border-radius: 5px;
    /* Скругление углов */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Плавный переход */
}

.button:hover {
    background-color: #007bff;
    /* Цвет фона при наведении */
    color: white;
    /* Цвет текста при наведении */
}

.button:active {
    background-color: #0056b3;
    /* Цвет фона при нажатии */
    border-color: #0056b3;
    /* Цвет бордюра при нажатии */
    transform: scale(0.95);
    /* Уменьшение кнопки при нажатии */
    transition: background-color 0.1s ease;
    /* Быстрый переход */
}