.tags {
    display: flex;
    gap: 15px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    cursor: pointer;
}

.tag {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}

.not_active_tag:hover {
    transform: translateY(-3px);
}

.tag::after {
    display: block;
    content: '';
    transform: scaleX(0.5);
    border-bottom: 3px var(--color__secondary-theme) solid;
    transition: transform 250ms ease-in-out, transform-origin 250ms ease-in-out;
}

.tag:hover::after {
    transform: scaleX(1);
}

.tag.fromRight::after {
    transform-origin: 100% 50%;
}

.tag.fromLeft::after {
    transform-origin: 0% 50%;
}

@media screen and (max-width:700px) {
    .tags {
        background-color: var(--color__main-theme_accent);
        padding: 5px;
        border-radius: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }
}