:root {
    --panel_buttons_hover_color: rgb(238, 237, 237);
}

.panel {
    display: flex;
    opacity: var(--panel_opacity);
}

.panel:hover {
    transition: opacity 0.2s ease-in-out;
    --panel_opacity: 1;
}

.hidden {
    pointer-events: none;
    opacity: 0 !important;
}