.wrapper {
    display: grid;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
}

.circle {
    display: grid;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px rgb(184, 184, 184) solid;
}

img {
    display: grid;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
}