.wrapper {
    display: grid;
    width: inherit;
    height: inherit;
}

.circle {
    display: grid;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}