.container {
    width: 70vw;
    display: grid;
    grid-template-columns: min-content auto;

}

.li {
    display: flex;
}

.li:before {
    content:"·";
    font-size:48px;
    vertical-align:middle;
    line-height:18px;
}