.container {
    display: grid;
    max-width: 1000px;
    min-width: 250px;
    width: 70vw;
}

.header {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px
}
