.container {
    display: grid;
}

.header {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.button {
    width: max-content;
    appearance: none;
    background-color: rgb(0, 123, 255);
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin-top: 8px;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}

.text {
    font-size: min(4vh, 64px);
}

@media screen and (min-width: 800px) {
    .container {
        
    }
}

@media screen and (max-width: 800px) {
    .container {
        
    }
}