.header {
    display: flex;
    column-gap: 10px;
    height: min-content;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    border: 1px var(--color__main-theme_accent) solid;
    background-color: var(--color__main-theme);
}