.profile {
    display: grid;
    column-gap: 10px;
    width: min-content;
    padding: 20px;
}

.wrapper_posts_info {
    display: grid;
    padding: 3px;
}

.wrapper_profile_info {
    display: grid;
    padding: 10px;
}
