.profile {
    display: grid;
    column-gap: 10px;
}

.wrapper_posts_info {
    display: grid;
    padding: 3px;
}

.wrapper_profile_info {
    display: grid;
    justify-content: center;
    padding: 10px;
}