.profile {
    display: grid;
    column-gap: 10px;
}

.wrapper_posts_info {
    display: grid;
    padding: 3px;
}

.wrapper_profile_info {
    display: grid;
    justify-content: center;
    padding: 10px;
}

@media screen and (min-width: 800px) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}

@media screen and (max-width: 800px) {
    .wrapper_posts_info {
        justify-content: center;
    }
}