.area_list {
    display: flex;
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    resize: none;
    font-size: inherit;
    padding-left: 4px;
    word-break: break-all;
}