.slider {
    display: flex;
    width: 80vw;
    height: min-content;
}

.slider>div>div {
    display: flex;
    gap: 15px;
    width: 80vw !important;
}

.slider>div>div>div {
    display: flex;
    width: max(16vw, 160px);
    height: max(24vw, 240px);
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 400;
    font-size: 26px;
    padding: 15px;
}