.slider {
    display: flex;
    width: 80vw;
}

.slider>div {
}

.slider>div>div {
    display: flex;
    gap: 15px;
    width: 80vw !important;
}

.slider>div>div>div {
    display: flex;
    width: 80vw !important;
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 400;
    font-size: 26px;
    padding: 15px;
}