.container {
    display: grid;
    justify-content: center;
}

.area_code {
    width: 70vw; /* или любое другое значение */
}

.editable:empty:before {
    content: attr(data-placeholder);
    color: #bbb; /* Цвет для placeholder */
}