.container {
    display: grid;
    grid-template-areas: 'once';
    justify-self: center;
    gap: 15px;
    width: inherit;
}

.menu {
    display: grid;
    position: absolute;
    grid-area: once;
    justify-self: end;
    margin: 20px;
}

.comment {
    display: grid;
    width: inherit;
    grid-area: once;
}