.container {
    display: grid;
}

.strong_list {
    display: flex;
    border-radius: 3px;
    outline: none;
    font-size: inherit;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 1vw !important;
    transition: width 0.2s;
    font-weight: 800;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    resize: none;
    word-break: break-word;
}

.strong_list::placeholder {
    background-color: rgb(222, 248, 222);
    padding-left: 4px;
    padding-right: 4px;
}