.container {
    display: grid;
}

.strong_list {
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    outline: none;
    font-size: inherit;
    padding-left: 4px;
    padding-right: 4px;
    transition: width 0.2s;
    font-weight: 800;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    word-break: break-word;
}

.strong_list::placeholder {
    background-color: rgb(222, 248, 222);
    padding-left: 4px;
    padding-right: 4px;
}

@media screen and (max-width:700px) {
    .strong_list {
        white-space: wrap;
    }
}

@media screen and (min-width:700px) {
    .strong_list {
        white-space: nowrap;
    }
}