.posts_alternate {
    display: grid;
    grid-template-areas:
        'first second'
        'first third';
    gap: max(1vh, 1vw);
    justify-content: center;
    padding: max(1vh, 1vw);
}

.posts_alternate>div:nth-child(1) {
    display: grid;
    width: 100%;
    max-width: 700px;
    height: 100%;
    grid-area: first;
}

.posts_alternate>div:nth-child(2) {
    display: grid;
    max-width: 400px;
    max-height: 400px;
    width: 32vw;
    height: 32vw;
    grid-area: second;
}

.posts_alternate>div:nth-child(3) {
    display: grid;
    width: 32vw;
    max-width: 400px;
    max-height: 400px;
    height: 32vw;
    grid-area: third;
}

@media screen and (max-width:700px) {
    .posts_alternate {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: max(1vh, 1vw);
        height: max-content;
    }
    .posts_alternate>div:nth-child(1) {
        width: max(30vw, 400px);
    }
    
    .posts_alternate>div:nth-child(2) {
        width: max(30vw, 400px);
        max-width: 700px;
        height: 100%;
    }
    
    .posts_alternate>div:nth-child(3) {
        width: max(30vw, 400px);
        max-width: 700px;
        height: 100%;
    }
}