.container {
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--color__main-theme);
}

.image {
    display: grid;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.link {
    display: grid;
    width: 100%;
    height: 100%;
    grid-area: once;
}