.area_text {
    display: grid;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.area_text>span {
    display: -webkit-box;
    width: inherit;
    padding-left: 5px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: black;
}