.page__main {
    display: grid;
    width: inherit;
    height: min-content;
    padding: 5px;
    align-content:start;
    row-gap: 4px;
    border: 1px red solid;
}

.javascript {
    display: grid;
}

code {
    display: grid;
    justify-content: right;
    border: 1px red solid;
}