.container {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: min-content;
}

.creator {
    display: flex;
    gap: 5px;
    align-items: center;
}

.creator>span {
    display: flex;
    font-weight: 500;
    font-size: 20px;
}

.author {
    display: flex;
    align-items: center;
    width: 100%;
}

.input {
    display: flex;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    resize: none;
    padding-left: 4px;
    font-family: var(--font_family);
    word-break: break-all;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width:700px) {
    .creator {
        font-size: 14px;
    }
    
    .creator>span {
        font-size: 18px;
    }
    
    .author {
        font-size: 14px;
    }

    .input {
        font-size: 18px;
    }
}

@media screen and (max-width:400px) {
    .creator {
        font-size: 10px;
    }
    
    .creator>span {
        font-size: 14px;
    }
    
    .author {
        font-size: 10px;
    }

    .input {
        font-size: 14px;
    }
}