.container {
    display: grid;
    justify-content: center;
}

.area_code {
    width: 70vw;
    max-width: 1000px;
}

.editable:empty:before {
    content: attr(data-placeholder);
    color: #bbb; /* Цвет для placeholder */
}