.delete {
    display: grid;
    border-radius: 5px;
    cursor: pointer;
    justify-content: start;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.delete:hover {
    background-color: rgba(0, 0, 0, 0.1);
}